<form>
  <div class="modal-header">
    <span>{{ modalHeader }}</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ modalContent }}
    <div class="form-group">
      <label for="labelName">Website name</label>
      <input type="text" class="form-control" id="labelName" name="name" [(ngModel)]="name" placeholder="Enter Website name" required >
      <div *ngIf="!name && vaidated" class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="urlInput">URL</label>
      <input type="url" class="form-control" id="url" name="url" [(ngModel)]="url" placeholder="Enter URL" required>
      <div *ngIf="!url && vaidated" class="alert alert-danger">
          URL is required
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
    <button type="submit" class="btn btn-primary" (click)="action()">{{ modalAction }}</button>
  </div>
</form>
